{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PM/css/add_site.css'%}">
    <title>Add Site</title>
</head>

<body>
    
    <div class='heading'>
        <div class='mainbar'>
            <h3>Password<strong>Manager<strong></h3>
        </div>
        <div class='sidebar'>
            <!-- <a href="accounts/logout">
                <h3>LogOut</h3>
            </a> -->
            <a href="accounts/register">
                <h3>Register</h3>
            </a>
            <a href="accounts/login">
                <h3>Login</h3>
            </a>
        </div>


    </div>

    <!-- <div class='dummy'></div> -->
    
    <div class='side-buttons'>
        <ul>
            <!-- <li></li> -->
            <li><a href="addsite"> Add New Site</a></li>
            <li><a href="addDocument">Add New Document</a></li>
            <li><a href="viewallsites"> Vault</a></li>
            <li><a href="#"> Generate Random Password</a></li>
        </ul>
    </div>

    <div class="main-container">
        <div class="container">
            <form action="addsite" method="post">

                {% csrf_token %}
                <h3>Add Site:</h3>
                <input type="text" name="site-name" placeholder="Site-name" size="25"><br>
                <input type="text" name="site-url" placeholder="Site-Url"size="25"><br>
                <input type="text" name="username" placeholder="Username/Phone/Email"size="25"><br>
                <input type="password" name="password" placeholder="Password"size="25"><br>
                <div>
                    {%for message in messages%}
                    <h4>{{message}}</h4>
                    {% endfor %}
                </div>
                <button type="Submit">Add</button>
                <button id='back'>Back</button>
            </form>
        </div>
        <div class="img-cont">
            <div class="img">
                <img src="{%  static 'PM/images/vault.jpg' %}" alt="">
            </div> 
        </div>
    </div>
    
    
    

    <div class='footer'>
        &copy 2021 Imagine, Inc. All Rights Reserved. Trademark.
    </div>
</body>

</html>