{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'PM/images/icon.png' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'PM/css/register.css' %}">
    <title>Registeration</title>
</head>

<body>
    <div class='heading'>
        <div class='mainbar'>
            <a href="index">
                <h3>Password<strong id='str'>Manager<strong></h3>
            </a>
        </div>
        <div class='sidebar'>
            <!-- {% if user.is_authenticated %} -->
            <!-- <a href="accounts/logout">
                <h3>LogOut</h3>
            </a> -->
            <!-- {% else %} -->
            <!-- <a href="accounts/register">
                <h3>Register</h3>
            </a> -->
            <a href="login">
                <h3>Login</h3>
            </a>
            <!-- {% endif %} -->
        </div>


    </div>
    <div class="main-container">
        <div class="container">
            <h3>Registration:</h3>
            <form action="register" method='post'>
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="First Name" size="37"><br>
                <input type="text" name="last_name" placeholder="Last Name"size="37"><br>
                <input type="text" name="username" placeholder="Username"size="37"><br>
                <input type="email" name="email" placeholder="Email"size="37"><br>
                <input type="password" name="password1" placeholder="Password"size="37"><br>
                <input type="password" name="password2" placeholder="Confirm Password"size="37"><br>
                <div class='messages'>
                    {%for message in messages%}
                    <h3>{{message}}</h3>
                    {% endfor %}
                </div>
                <button type="Submit">Register</button>
                <button id='back'><a href="../">Back</a></button>
            </form>
        </div>
    </div>
    

   
    <div class='footer'>
        &copy 2021 Imagine, Inc. All Rights Reserved. Trademark.
    </div>
</body>

</html>