{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'PM/images/icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View all passwords</title>
    <link rel="stylesheet" href="{% static 'PM/css/viewallsites.css' %}">
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };



        function getAlert(image) {
            ('Here\'s an alert!')
          }
    </script>
</head>

<body>
    <div class='heading'>
        <div class='mainbar'>
            <a href="/">
                <h3>Password<strong id='str'>Manager<strong></h3>
            </a>
        </div>
        <div class='sidebar'>
            <!-- {% if user.is_authenticated %} -->
            <!-- <a href="accounts/logout">
                <h3>LogOut</h3>
            </a> -->
            <a href="../">
                <h3>Back</h3>
            </a>
            <!-- {% else %} -->
            <!-- <a href="accounts/login">
                    <h3>Login</h3> -->
            </a>
            <!-- {% endif %} -->
        </div>



    </div>
    <div class='side-buttons'>
        <ul>
            <!-- <li></li> -->
            <li><a href="addsite"> Add New Site</a></li>
            <li><a href="addDocument">Add New Document</a></li>
            <li><a href="viewallsites"> Vault</a></li>
            <li><a href="GenPass"> Generate Random Password</a></li>
        </ul>
    </div>


    <div class="body-border">
        <h1 class='Title'>Passwords:</h1>

        <div class="grid-container">


            {% for pas in passs %}
            <div class="info-cont-background">
                <div class='info-cont'>
                    <ul>
                        <li>
                            <h2 title="{{pas.site_name}}">{{pas.site_name}}</h2>
                        </li>
                        <li>
                            <h4><a href="http://{{pas.site_url}}" target="_blank">URL: {{pas.site_url}} 🔗</a></h4>
                        </li>
                        {% if not pas.email == '-' %}
                        <li>Email: {{pas.email}}</li>
                        {% endif %}

                        {% if not pas.phoneNo == '-' %}
                        <li>Phone Number: {{pas.phoneNo}}</li>
                        {% endif %}

                        {% if not pas.username == '-' %}
                        <li>Username: {{pas.username}}</li>
                        {% endif %}

                        <li>Password: {{pas.password}}</li>
                        <!-- <br> -->
                        <a href="deletePass?siteName={{pas.site_name|urlencode}}&sitePassword={{pas.password|urlencode}}"
                            class='buttons'>Delete</a>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>


        <br>
        <h1 class='Title'>Documents:</h1>


        <div class="grid-container">

            <!-- {% for doc in docs %} -->
            <div class="info-cont-background">
                <div class='info-cont'>

                    <ul>
                        <li>
                            <h2  title="{{doc.filename}}" >{{doc.filename}}</h2>
                        </li>

                        <a href="{{doc.file.url}}" class='buttons' download>Download</a>
                        <a href="deleteDoc?doc_name={{doc.filename|urlencode}}" class='buttons'>Delete</a>
                    </ul>
                </div>
            </div>

            <!-- {% endfor %} -->
        </div>

        <br>
        <br>
    </div>

    <!-- <button id='back'><a href="../">Back</a></button> -->
    <div class='footer'>
        &copy 2021 Imagine, Inc. All Rights Reserved.
    </div>

</body>

</html>